* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
}

body {
  font-family: "Roboto Mono", monospace;
}

i {
  cursor: pointer;
}

#proimg1,
#proimg3 {
  height: 20rem;
}
.sec1 {
  height: 100vh;
  width: 100%;
  background-image: url(images/main_bg.jpg);
  background-size: cover;
}

#main_heading {
  padding-top: 1.5rem;
  margin: 0rem 2rem 0 14rem;
  font-family: "Bona Nova", serif;
  font-size: 2rem;
}

.nav_list {
  font-weight: 600;
  position: absolute;
  right: 10rem;
  top: 1rem;
}

.nav_list ul {
  display: flex;
  list-style: none;
}

.nav_list li {
  margin: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav_list li:hover {
  color: #8389a3;
}

.sec1_container {
  margin: 8rem 5rem 8rem 14rem;
  font-family: "Quicksand", sans-serif;
}

.heading {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  font-weight: bolder;
  text-align: center;
}

.sec1_subheading {
  font-size: 2rem;
  font-weight: lighter;
  margin: 1rem 0 1rem 0;
}

.button {
  /* margin-right: 14px; */
  margin-top: 0rem;
  color: black;
  font-family: "Open Sans", sans-serif;
  width: 150px;
  height: 50px;
  font-weight: 800;
  font-size: 16px;
  background-color: #ebeffd;
  transition: 0.3s;
}
.button:focus {
  outline: none;
}

.button:hover {
  background-color: #b8c2f0;
}

.sec2 {
  height: 115vh;
  background-color: black;
  text-align: center;
  margin-bottom: -3rem;
}

#sec2_heading {
  padding-top: 2rem;
}

.sec2_subheading {
  line-height: 30px;
  font-size: larger;
  margin: 3rem 0rem 0rem 22rem;
  text-align: left;
  color: #d8dce9;
}

#umbrella {
  color: white;
  font-size: 10rem;
  position: relative;
  left: 40rem;
  top: -12rem;
}

.sec2_container {
  display: inline-block;
  text-align: left;
  margin: -8rem 0rem 6rem 15rem;
  height: 200px;
}

.sec2_icons {
  padding-left: 5rem;
  font-size: 2.5rem;
}

.sec2_icons i {
  margin-right: 9rem;
}

.icon_desc {
  display: inline-block;
  text-align: center;
  width: 180px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.icon_desc_list {
  padding-right: 10rem;
}

.sec2_buttons {
  margin-left: 1.3rem;
}

.sec2_buttons button {
  margin-right: 3rem;
}

hr.sec_divider {
  border: 1px dashed grey;
}

.sec3 {
  height: 108vh;
  background-color: black;
  /* margin-bottom: 2rem; */
}

#sec3_heading {
  text-align: center;
  position: relative;
  top: 4rem;
  /* margin-top: 4rem; */
}

.project_container {
  justify-content: center;
  position: relative;
  top: 5rem;
  display: flex;
  /* margin: 1rem 0 0 3rem; */
  /* width: 50rem; */
  height: 35rem;
  border-radius: 10px;
}

.project_subcont {
  width: 16.5rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.158);
  transition: 0.4s;
  margin-right: 1rem;
}

.project_subcont:hover {
  background-color: #212224;
}

.project_subcont img {
  margin-top: -1rem;
  border-radius: 10px;
  width: 16rem;
  transition: 1s;
  transform: scale(0.8);
  margin-bottom: -2rem;
}

.project_subcont img:hover {
  transform: scale(0.9);
}

.proj_heading h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.proj_heading h5 {
  font-weight: 100;
  font-size: 0.9rem;
  /* margin-bottom: -1rem; */
}

.proj_heading {
  margin: 0 0.5rem -1rem 0.5rem;
}

.sec4 {
  height: 100vh;
  background-color: black;
}

#sec4_heading {
  text-align: center;
  position: relative;
  top: 8rem;
}

.plans_container {
  position: relative;
  top: 8rem;
  width: 50rem;
  margin-top: 2rem;
  display: flex;
  padding-left: 27%;
}

.plans_subcontainer {
  margin-right: 3rem;
  text-align: center;
}

.plans_subcontainer li {
  margin-top: 8px;
  list-style: none;
}

.sec5 {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.925);
}

#sec5_heading {
  /* padding-top: 1rem; */
  text-align: center;
  font-size: 3rem;
}

.video_container {
  margin-top: 1%;
  margin-left: 28%;
  height: 70vh;
  width: 600px;
  /* overflow: hidden; */
}

.video_carousel {
  display: flex;
}

#next {
  position: relative;
  top: -3rem;
}

#prev {
  position: relative;
  top: -3rem;
}

.vid-btn {
  color: black;
  /* margin-top: -0.3rem; */
  width: 200px;
  height: 50px;
  padding-bottom: 10px;
}

.sec6 {
  height: 60vh;
  background-color: black;
  padding: 2rem;
}

#sec6_heading {
  text-align: center;
}

.dp_container {
  /* transform: translate(25%); */
  justify-content: center;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.dp_container img {
  width: 10rem;
  border-radius: 100%;
  margin: 0.6rem;
  justify-content: center;
}

.face_info {
  background-color: black;
  width: 11rem;
  height: 10rem;
  border-radius: 100%;
  position: relative;
  top: 1.3rem;
  margin-left: 1.2rem;
  opacity: 0;
  font-size: 1.5rem;
  padding-left: 3rem;
  padding-top: 4rem;
  transition: 0.3s;
}

.face_info:hover {
  opacity: 0.8;
}

.face_cover {
  display: flex;
  position: relative;
  bottom: 12rem;
}

#face1,
#face2 {
  position: relative;
  left: -0.8rem;
}

#face3,
#face4 {
  position: relative;
  left: -0.5rem;
}

#face5,
#face6 {
  position: relative;
  left: -0.5rem;
}

.sec7 {
  height: 100vh;
  background-color: black;
  padding: 1rem;
}

.life_container {
  margin: 1rem;
  justify-content: center;
  width: 40rem;
  margin-left: 18rem;
}

.sec8 {
  height: 50vh;
  background-image: url(images/news_letter.jpg);
  background-size: 100% 100%;
}

#sec8_heading {
  position: relative;
  top: 1rem;
  color: #414235;
}

.sec8_container {
  margin-top: 5rem;
  margin-left: 25rem;
}

.sec8_container input {
  height: 2.7rem;
  width: 20rem;
  border-radius: 10px;
  color: black;
}

.sec8_container input:focus {
  outline: none;
}

#sign_in,
#sign_up {
  width: 5rem;
  height: 3rem;
}

#sign_up {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

#sign_up:hover {
  background-color: #c6e0fd;
}

.sec9 {
  background-color: black;
  height: 85vh;
}

.blog_container {
  text-align: center;
  position: relative;
  top: 2rem;
}

#sec9_heading {
  position: relative;
  top: 2rem;
}

.desc_head {
  font-weight: bolder;
}

.blog_date {
  color: rgba(255, 255, 255, 0.644);
  width: 12rem;
  font-size: 0.8rem;
}

.sec10 {
  background-color: #000000;
  height: 80vh;
  display: flex;
}

.sec10_container {
  position: relative;
  top: 1rem;
  left: 5rem;
}

.sec10_container label {
  margin: 0.2rem;
}

.sec10_container form {
  margin: 1rem;
}

.sec10_container input {
  height: 2rem;
  width: 18rem;
  color: black;
  border-radius: 5px;
  padding-left: 5px;
}

#desc {
  height: 4rem;
}

#send_button {
  margin-left: 15rem;
  width: 4.5rem;
  height: 2.5rem;
}

.footer {
  background-color: #000000;
  height: 50vh;
}

.foot_container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.foot_container ul {
  margin: 4rem;
}

.foot_container li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.list_head {
  font-weight: bolder;
}

.foot_container i {
  margin: 0.5rem;
  font-size: 1.5rem;
}
